<html>
<head>
  <title>VedCal 2016</title>
  <link rel="stylesheet" href="public/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="/vendor/bower_components/es6-shim/es6-shim.js"></script>
</head>

<body>
  <div class="container">
    <todo-app>
      <h2 class="text-center">VedCal 2016</h2>
    </todo-app>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="day col-md-1 col-md-offset-2" >
          </div>
          <div class="day col-md-1">
          </div>
          <div class="day col-md-1">
          </div>
          <div class="day col-md-1">
          </div>
          <div class="day col-md-1">
          </div>
          <div class="day col-md-1">
          </div>
          <div class="day col-md-1">
          </div>
        </div>
      </div>
    </div>
  </div>



  <script>
  System.paths = {
    'angular2/*': '/vendor/angular2/*.js',
    'rtts_assert/*': 'vendor/rtts_assert/*.js',
    'rx/*': 'vendor/node_modules/rx/*.js',
    'todo-app': 'components/todo-app/todo-app.es6',
    'xhr-factory': 'services/xhr-factory.es6',
    'todos-factory': 'services/todos-factory.es6'
  };
  System.import('todo-app');
  </script>
</body>
</html>
